<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link href="../styles/index.css" th:href="@{/styles/index.css}" rel="stylesheet"/>
    <title></title>
</head>
<body>
<div>
    <div class="topnav">
        <a th:href="@{/}">Home</a>
        <a class="active" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">Admin Panel</a>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/addUser}">Add User</a>
        <div class="login-panel-container">
            <div sec:authorize="true">
                <form class="login-panel-form" action="/logout">
                    <button type="submit">Log Out</button>
                </form>
            </div>
            <div sec:authorize="false">
                <form class="login-panel-form" action="/login">
                    <input type="text" placeholder="Username" name="username">
                    <input type="text" placeholder="Password" name="psw">
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{/admin/editUser}" method="post" th:object="${userDto}">
        <table style="width:100%">
            <tr>
                <td>
                    <label>
                        <input type="hidden" th:field="*{id}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type="text" th:field="*{name}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type="text" th:field="*{email}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type="text" th:field="*{password}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>
                        <input type="text" th:field="*{roles}">
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn success">Update</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>