<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
    <a th:href="@{/}">Back</a>
</div>
<div>
    <form th:action="@{/edit}" method="post" th:object="${userDto}">
        <table>
            <tr>
                <td><label for="id">Id</label></td>
                <td><input type="hidden" id="id" th:field="*{id}"/></td>
            </tr>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input id="name" type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td><label for="email">Email</label></td>
                <td><input id="email" type="text" th:field="*{email}"></td>
            </tr>
            <tr>
                <td><input type="submit" value="edit"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>