<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        padding: 5px;
    }

    .message {
        color: blue;
    }
</style>
<body>
<div>
    <table style="width:100%">
        <tr>
            <th>name</th>
            <th>email</th>
        </tr>
        <tr th:each="user: ${users}">
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getEmail()}"></td>
        </tr>
    </table>
</div>
</body>
</html>